.button {
  border: none;
  box-shadow: none;
  background: none;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid transparent;
}

.button:hover {
  border-color: #d0d7de;
}

.selected {
  background: #0969da;
  color: #ffffff;
}

.blueButton {
  color: #0969da;
}

.blueButton:disabled {
  color: #8c959f;
}

.blueButton:disabled:hover {
  border-color: transparent;
}